<div class="row">

  <div class="col-lg-6">
    <div class="hollys-xs center signup-padding">
      <h2 class="hollys-big">Sign up</h2>

      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.text_field :first_name, placeholder: "First Name", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :email, placeholder: "Email", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
        </div>

        <%= f.submit "Sign up", class:"btn btn-outline-danger btn-lg home-btn" %>
      <% end %>

      <p style="padding-top: 20px">Already have an account? <%= link_to "Login", login_path %></p>
    </div>
  </div>

  <div class="col-lg-6 ">
    <div class="signup-bg">
    </div>
  </div>

</div>
