<h2><%= @user.full_name %></h2>

<h3>Workouts</h3>
<% @user.workouts.each do |workout| %>
  <p><%= link_to workout.name, workout %></p>
<% end %>

<% if @user.id == current_user.id %>
  <%= form_tag new_workout_path, method: 'get' do %>
    <%= submit_tag "New Workout" %>
  <% end %>

  <%= form_tag logout_path do %>
    <%= submit_tag "Logout" %>
  <% end %>
<% end %>
