<div class="special-bg">
  <div class="center">
    <div class="card special-card">
      <div class="card-header special-card-header hollys-m">Gyms</div>

      <div class="card-body special-card-body">

        <%= form_tag gyms_path, method: "get" do %>
          <div class="input-group gym-form-control">
            <%= text_field_tag :postcode, nil, placeholder:"Postcode", class:"form-control" %>
            <div class="input-group-append">
              <%= submit_tag "Search", class:"btn btn-outline-danger btn-sm" %>
            </div>
          </div>
        <% end %>

        <% if @locals %>
          <% @locals.each do |gym| %>
            <% Gym.add_gyms(gym[0], gym[1]) %>
            <% this_gym = Gym.find_by(name: gym[0]) %>
            <p><%= link_to this_gym.name, this_gym, class:"special-links" %></p>
          <% end %>
        <% else %>
          <% @gyms.each do |gym| %>
            <p><%= link_to gym.name, gym, class:"special-links" %></p>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
