<!DOCTYPE html>
<html>
  <head>
    <title>Trackzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Top navigation -->
    <div class="topnav hollys-s">

      <!-- Centered link -->
      <div class="topnav-centered">
        <a class="heading" href="/">
          <img src="/images/mini-barbell-left.png" alt="Logo" style="width:47px">
          Trackzy
          <img src="/images/mini-barbell-right.png" alt="Logo" style="width:47px">
        </a>
      </div>

      <!-- Left-aligned links (default) -->
      <a href="<%= gyms_path %>">Gyms</a>
      <a href="<%= workouts_path %>">Workouts</a>
      <a href="<%= logged_in? ? users_path : login_path %>">People</a>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <a href="<%= logged_in? ? user_path(current_user) : login_path %>">My Profile</a>
        <% if logged_in? %>
          <a class="nav-right" href="<%= new_workout_path %>">New Workout</a>
          <a class="nav-right" href="<%= logout_path %>">Logout</a>
        <% end %>
      </div>

    </div>

    <%= yield %>
  </body>
</html>
