<!DOCTYPE html>
<html>
  <head>
    <title>Trackzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Trackzy</h1>
    <% if flash[:errors] %>
      <% flash[:errors].each do |msg| %>
        <p style="color: red"><%= msg %></p>
      <% end %>
    <% elsif flash[:notice] %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
