<!DOCTYPE html>
<html>
  <head>
    <title>Trackzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Trackzy</h1>
    <% if flash[:errors] %>
      <% flash[:errors].each do |msg| %>
        <p style="color: red"><%= msg %></p>
      <% end %>
    <% elsif flash[:notice] %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% elsif flash[:authorized] %>
      <p style="color: orange"><%= flash[:authorized] %></p>
    <% end %>

    <%= link_to 'Home', root_path %>
    <%= link_to 'Workouts', workouts_path %>
    <% if logged_in? %>
      <%= link_to 'People', users_path %>
      <%= link_to "My Profile", current_user %>
    <% else %>
      <%= link_to 'People', login_path %>
      <%= link_to "My Profile", login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
